h2 {
	text-align: center;
	margin: 20px;
}

h3 {
	margin: 0 0 10px 0;
}

.historico-container {
	width: 700px;
	margin: 0 auto;
}

.refeicao-container {
	width: 	1470px;
	margin: 15px auto;
}

.refeicao-container button {
	margin: 10px 0;
}

#edit-cardapio{
	margin: 10px 0;
}

.handsontable col.rowHeader {
    width: 120px;
}

.jsgrid-grid-header,
.jsgrid-grid-body{
  overflow: auto;
}